*{
    margin: 0px auto;
    padding: 0px auto;
    box-sizing: border-box;
}
body{
    background: url(images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
}
h1{
    padding: 30px;
    font-family: cursive;
    font-size: 70px;
}
h2{
    font-family:monospace;
    font-size:25px;
}
p{
    font-family:monospace;
    font-size:25px;
}
.box{
    display: flex;
    gap: 30px;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:600px){
    h1 {
        padding: 30px;
        font-family: cursive;
        font-size: 60px;
    }
}
@media (max-width:520px){
    h1 {
        padding: 30px;
        font-family: cursive;
        font-size: 45px;
    }
    h2 {
        font-family: monospace;
        font-size: 20px;
    }
    p {
        font-family: monospace;
        font-size: 20px;
    }
}
@media (max-width:430px){
    h1 {
        padding: 30px;
        font-family: cursive;
        font-size: 35x;
    }
}
@media (max-width:360px){
    h1 {
        padding: 30px;
        font-family: cursive;
        font-size: 30px;
    }
    .box {
        display: flex;
        gap: 16px;
    }
    p {
        font-family: monospace;
        font-size: 16px;
    }
    h2 {
        font-family: monospace;
        font-size: 16px;
    }
    h1 {
        padding: 20px;
        font-family: cursive;
        font-size: 30px;
    }
}